*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./images.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


}

.card{
    width: 350px;
    height: 200px;
    background-color: rgb(216, 215, 213);
    border: 3px solid rgb(248, 173, 173);
    border-radius: 30px;
}







.card:first-child{
    background-image: url(./brown-aesthetic.jpg);
   background-position: center;
   background-size: cover;
}

.card:last-child{
    background-image: url(./9935d0248e69513db6b13734bbdacaae.jpg);
   background-position: center;
   background-size: cover;
}

.card:nth-child(2){
    background-image: url(./desktop-wallpaper-awesome-apple-page-1920×1200-amazing-apple-background-cool-macbook-thumbnail.jpg);
    background-position: center;
    background-size: cover;
}

.card:nth-child(3){
    background-image: url(./desktop-wallpaper-full-stack-web-development-full-stack-developer-thumbnail.jpg);
    background-position: center;
    background-size: cover;
}


.card:nth-child(4){
    background-image: url(./leaves-plants-neon-hd-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
}

.card:nth-child(5){
    background-image: url(./picturemessage_oidu4ima.pxy.png);
    background-position: center;
    background-size: cover;
}
.card:nth-child(6){
    background-image: url(./premium_photo-1726880637228-52cb20f7bc7d.avif);
    background-position: center;
    background-size: cover;
}

.card:nth-child(7){
    background-image: url(./desktop-wallpaper-how-long-does-it-take-to-become-a-full-stack-developer-full-stack-developer-thumbnail.jpg);
    background-position: center;
    background-size: cover;
}






.card:hover{
    transition: all ease-in-out 2s;
    transform:rotate(120deg);
    opacity: 0.5;

}



@media (max-width : 768px) {

    .container{
        width: 100%;
        height: auto;
      
    }
    .card{
        margin-top: 40px;
    }
}